<header>
    <h1><a href='/'>{{title}}</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/films">Logged films</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>

<p>Welcome to {{title}}! This site provides a list of popular films and information about them. It also features a form so that you can rate movies and keep track of the ones <b>you</b> like.</p>

