<header>
    <h1 class=''><a href='/' class='foobar'>{{title}}</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/films">Logged films</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
</header>
<p>Welcome to {{title}}! Use the form below to add details for a film you have recently
seen. Be sure to add a rating so you remember if you liked it or not.</p>
    <form method='POST' action='/log'>
        <p><label>Film:
            <input type='text' name='title' required>
        </label> *required</p>
        <p><label>Rating:
            <input type='number' name='rating' max='5' min='0' size='5' width='200px'>
        </label></p>
        <p><input type='submit' value='Log Film'></p>
    </form>
{{#if error}}
    <p class='error'>Whoops! {{error}}</p>
{{/if}}