<p>Welcome to {{title}}! You can use this site to add ratings to films you have seen
to remember if you liked them or not. Start by logging in above and then going to
<a href="/log">Log Film</a> to get started. Films you have logged already will appear
in your <a href="/diary">Diary</a> so you can reference, update, and/or delete them
later.</p>
<p>If you cannot think of any recent films, try logging a film like <i>Star Wars</i> or
<i>Jaws</i> to get started</p>