<p>Login</p>
<form method="POST" action="/login">
	<p><label for="name">Username: 
		<input type="text" name="email" value="CSCI31">
	</label></p>
	<p><label for="email">Password: 
		<input type="text" name="password" value="password123">
	</label></p>
	<p><input type="submit" value="Login"></p>
</form>