{{#if flashMsg}}
    <p class='error'>Whoops! {{flashMsg}}</p>
{{/if}}

<p>Login</p>
<p>Haven't signed up yet? <a href='/register'>Register here!</a></p>
<form method="POST" action="/login">
	<p><label for="name">Username: 
		<input type="text" name="user" value="matt">
	</label></p>
	<p><label for="email">Password: 
		<input type="text" name="password" value="123">
	</label></p>
	<p><input type="submit" value="Login"></p>
</form>
