{{#if flashMsg}}
    <p class='error'>Whoops! {{flashMsg}}</p>
{{/if}}
<form method='POST' action='/log'>
	<p><label>Film:
		<input type='text' name='title'>
	</label> *required</p>
	<p><label>Rating:
		<input type='number' name='rating' max='5' min='0' size='5' width='200px'>
	</label></p>
	<p><input type='submit' value='Log Film'></p>
</form>